.correctAnswer {
  color: #fef6e4;
  background: #8bd3dd;
  padding: 1rem;
}
.correctAnswer:after {
  background: #8bd3dd;
  color: #001858;
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  content: "correct!";
}
.incorrectAnswer {
  background: #f582ae;
  color: #fef6e4;
  padding: 1rem;
}
.incorrectAnswer:after {
  background: #f582ae;
  color: #001858;
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  content: "incorrect!";
}

.flex {
  /* background-color: aquamarine; */
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.ansBtn {
  margin: 5px;
  padding: 5px;
  background-color: #f582ae;
}
